<nav>
    <ul >
  
      <li class="">
        <a class=""  routerLink="">Home</a>
      </li>
      <li class="">
        <a class=""routerLink="user/login"  >Login</a>
      </li>
      <li class="">
        <a class=""routerLink="user/signup" >signup</a>
      </li>
      <li class="">
       <a href="" routerLink="Employee-Dashboard/Employees"> Employee list </a>
      </li>
      <li class="">
      <a  (click)="logout()" style="cursor: pointer;">Logout</a>
      </li> 
  
    </ul>

</nav>

<router-outlet></router-outlet>